/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
/*.egg-info
/.installed.cfg
/.mr.developer.cfg
*.pyc
/.Python
/include
/lib
/src/*
*.mo
/.coverage
coverage.xml
zptlint.log
.DS_Store
